[Unit]
Description=PiNav USB Gadget

[Service]
Type=simple
User=root
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/pinav_usb
RemainAfterExit=true

[Install]
WantedBy=multi-user.target