[Unit]
Description=PiNav Bridge Daemon on %I
BindTo=%i.device
After=%i.device

[Service]
Type=forking
User=root
ExecStart=/usr/bin/pinav_bridge_daemon %I

[Install]
WantedBy=%i.device